<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GuideMe</title>

    <link rel="icon" type="image/x-icon" href="http://www.iconarchive.com/download/i85581/graphicloads/100-flat/home.ico">
    @Styles.Render("~/Content/css")
    @RenderSection("LoginStyles", required: false)

</head>
<body>
    <div id="preloader">
        <div class="dorne-load"></div>
    </div>


    <!-- ***** Search Form Area ***** -->
    @*<div class="dorne-search-form d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-close-btn" id="closeBtn">
                        <i class="pe-7s-close-circle" aria-hidden="true"></i>
                    </div>
                    <form action="#" method="get">
                        <input type="search" name="caviarSearch" id="search" placeholder="Search Your Desire Destinations or Events">
                        <input type="submit" class="d-none" value="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>*@

    <!-- ***** Header Area Start ***** -->
    <header class="header_area bg-img bg-overlay" id="header" style="background-image: url(img/bg-img/hero-1.jpg);font-family: 'akgfont'">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <nav class="h-100 navbar navbar-expand-lg">
                        <p>
                            @Html.ActionLink("GuideMe", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        </p>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dorneNav" aria-controls="dorneNav" aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
                        <!-- Nav -->
                        <div class="collapse navbar-collapse" id="dorneNav">
                            <ul class="navbar-nav mr-auto" id="dorneMenu">
                                <li class="nav-item active">
                                    <a class="nav-link" href="~/Home/Index">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Explore <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="index.html">Home</a>
                                        <a class="dropdown-item" href="explore.html">Explore</a>
                                        <a class="dropdown-item" href="listing.html">Listing</a>
                                        <a class="dropdown-item" href="single-listing.html">Single Listing</a>
                                        <a class="nav-link" href="~/Home/Contact">Home <span class="sr-only">(current)</span></a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Listings <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                        <a class="dropdown-item" href="index.html">Home</a>
                                        <a class="dropdown-item" href="explore.html">Explore</a>
                                        <a class="dropdown-item" href="listing.html">Listing</a>
                                        <a class="dropdown-item" href="single-listing.html">Single Listing</a>


                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="~/Home/Contact">Contact</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="~/Recomendation/Index">Recomendation</a>
                                </li>
                                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                {

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> User Roles <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                                            <a class="dropdown-item" href="~/Account/CreateRole">Create Role</a>
                                            <a class="dropdown-item" href="~/Account/AddUserToRole">Add user to role</a>
                                          
                                        </div>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Places <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                                            <a class="dropdown-item" href="~/Places/Create">Create Place</a>
                                            <a class="dropdown-item" href="~/Places/Edit">Edit Place</a>
                                            <a class="dropdown-item" href="~/Places/Delete">Delete Place</a>

                                        </div>
                                    </li>

                                }

                            </ul>
                            <!-- Search btn -->
                            @*<div class="dorne-search-btn">
                                <a id="search-btn" href="#"><i class="fa fa-search" aria-hidden="true"></i> Search</a>
                            </div>*@
                            <!-- Signin btn -->
                            <div>
                                @Html.Partial("_LoginPartial")
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->    <!-- ***** Header Area End ***** -->

    <div class="container-fluid body-content" style="padding-left:0px; padding-right:0px;">
        <div class="breadcumb-area bg-img bg-overlay" style="height:120px;background-image:url(https://0i.is/yqrt)">
        </div>
        @RenderBody()
        
    </div>
    <!-- ****** Footer Area Start ****** -->
    <footer class="dorne-footer-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 d-md-flex align-items-center justify-content-between">
                    <div class="footer-text">
                        <p>&copy; @DateTime.Now.Year - GuideMe</p>
                    </div>
                    <div class="footer-social-btns">
                        <a href="#"><i class="fa fa-linkedin" aria-haspopup="true"></i></a>
                        <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-haspopup="true"></i></a>
                        <a href="#"><i class="fa fa-facebook" aria-haspopup="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ****** Footer Area End ****** -->



    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    @RenderSection("LoginScripts",required:false)
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/plugins.js"></script>
    <script src="~/Scripts/active.js"></script>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/modernizr")

</body>
</html>