@model GuideMe.Models.Identity_models.RoleViewModel

@{
    ViewBag.Title = "CreateRole";
}

<h2>Create Role</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, ViewBag.CreationResult as string, new { @class = "text-danger" })
    @Html.LabelFor(x => x.Name)
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <button type="submit" id="submit" class="btn btn-success form-control">Save</button>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @if (ViewBag.CreationResult != null)
    {
        <script>
            $(document).ready(function () {
                alert("@ViewBag.CreationResult");
            });
        </script>
        
    }

    
}
