@model GuideMe.Models.Identity_models.RoleViewModel

@{
    ViewBag.Title = "CreateRole";
}


    <div class="section-heading dark text-center">
        <span></span>
        <h4>Create Role</h4>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-7">
                @using (Html.BeginForm())
                {
                    @Html.LabelFor(x => x.Name)
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
                    <br />
                    <button type="submit" class="btn btn-success form-control">Save</button>
                }
            </div>
            <div class="col-5">
                <img src="~/img/role.jpg" alt="" />
            </div>
        </div>

    </div>




    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

        @if (ViewBag.CreationResult != null)
        {
            <script>
            $(document).ready(function () {
                alert("@ViewBag.CreationResult");
            });
            </script>

        }
    }
