@model GuideMe.ViewModels.RecomendationVM
@{
    ViewBag.Title = "Recomendation";
}

<h2>@ViewBag.Title.</h2>
<section style="background-image:url(https://0i.is/A94Z);background-size:cover">
    <h2 style="text-align:center">Recomendation</h2>


    @using (Html.BeginForm("FilteredPlaces", "Recomendation", FormMethod.Get))
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="explore-search-form">
                <!-- Tabs Content -->
                <div class="form-group">
                    @Html.Label("City")
                    <div class="col-md-10">
                        @Html.DropDownList("CityID", ViewData["City"] as IEnumerable<SelectListItem>, new { @class = "custom-select form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Day, "Stay Duration")
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Day) Days
                        @Html.ValidationMessageFor(m => m.Day, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Budget, "Your Budget")
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Budget, new { min = 100, max = 1000000 }) LE
                        @Html.ValidationMessageFor(m => m.Budget, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Recommended for you" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

            }

            <br />
    </section>




    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }



