@using System.Web;
@using PagedList;
@using PagedList.Mvc;

@model IPagedList<GuideMe.Models.Business_models.Place>

@{
    ViewBag.Title = "Places";
}

<body>
    <section class="dorne-listing-destinations-area section-padding-100-50" style="background-image: url(https://0i.is/lRz1); background-size: cover; background-repeat: no-repeat">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading dark text-center">
                        <span></span>
                        <h4>Places</h4>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                @*@if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary" })
                }*@
                <div class="row">
                    @foreach (var item in Model)
                    {

                        <!-- Single Features Area -->
                        <div class="col-4 col-sm-6 col-lg-4">

                            <div class="single-features-area mb-50">

                                <img src="~/img/uploads/@item.Image" alt="@item.Name">
                                <!-- Rating & Map Area -->
                                <div class="ratings-map-area d-flex">
                                    <a href="#"> @Html.DisplayFor(modelItem => item.Category.Name)</a>
                                    <a href="#" data-toggle="modal" data-target="#myModal_@item.ID"><img src="~/img/core-img/map.png" alt="@item.Name Location" title="@item.Name location"></a>
                                </div>
                                <div class="feature-content d-flex align-items-center justify-content-between">
                                    <div class="feature-title">
                                        <h5>@Html.DisplayFor(modelItem => item.Name)</h5>
                                        <p>@Html.DisplayFor(modelItem => item.City.Name)</p>
                                        @*@if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                        {
                                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-warning" })
                                            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })

                                        }*@
                                    </div>
                                    <div class="feature-favourite">
                                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> @Html.DisplayFor(modelItem => item.Address)</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- The Modal -->
                        <div class="modal" id="myModal_@item.ID">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div style="height:50px"></div>
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title"> @Html.DisplayFor(modelItem => item.Name) </h4>
                                        <button type="button" class="close" data-dismiss="modal" data-target="#myModal_@item.ID">&times;</button>
                                    </div>
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        @if (@item.GoogleLocation != null && item.GoogleLocation != "")
                                        {
                                            <iframe src="@item.GoogleLocation" width="470" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

                                        }
                                        else
                                        {
                                            <p>Sorry, There is no map location available for this place right now</p>
                                        }

                                    </div>
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal" data-target="#myModal_@item.ID">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @Html.PagedListPager(Model, page => Url.Action("Getcategory", new { page , id = Url.RequestContext.RouteData.Values["id"]
       }), new PagedListRenderOptions
       {
           Display = PagedListDisplayMode.IfNeeded,
           DisplayItemSliceAndTotal = true,
           LiElementClasses = new string[] { "btn" }
       })
        </div>
    </section>

</body>

